h2.my-2.text-xl # My book recommendations
p
  a(href="https://en.wikipedia.org/wiki/Crime_and_Punishment"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Crime and Punishment
  |  by Fyodor Dostoevsky
p
  a(href="https://en.wikipedia.org/wiki/12_Rules_for_Life"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") 12 Rules for Life
  |  by Jordan B. Peterson
p
  a(href="https://en.wikipedia.org/wiki/Thus_Spoke_Zarathustra"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Thus Spoke Zarathustra
  |  by Friedrich Nietzsche
p
  a(href="https://en.wikipedia.org/wiki/Beyond_Good_and_Evil"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Beyond Good and Evil
  |  by Friedrich Nietzsche
p
  a(href="https://en.wikipedia.org/wiki/Meditations"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Meditations
  |  by Marcus Aurelius
p
  a(href="https://en.wikisource.org/wiki/Moral_letters_to_Lucilius"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Letters from a Stoic
  span(class="mx-0.5") and
  a(href="https://en.wikisource.org/wiki/On_the_shortness_of_life"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") On the shortness of life
  |  by Seneca
p
  a(href="https://wiki.epicurism.info/Principal_Doctrines/"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Principal Doctrines
  |  of Epicurus
p
  a(href="https://www.iep.utm.edu/republic/"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") The Republic
  |  by Plato
p
  a(href="https://en.wikipedia.org/wiki/Nineteen_Eighty-Four"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") 1984
  span(class="mx-0.5") and
  a(href="https://en.wikipedia.org/wiki/Animal_Farm"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Animal Farm
  |  by George Orwell
p
  a(href="https://en.wikipedia.org/wiki/The_Demon-Haunted_World"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") The Demon-Haunted World
  |  by Carl Sagan
p
  a(href="https://en.wikipedia.org/wiki/Guns,_Germs,_and_Steel"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Guns, Germs, and Steel
  |  by Jared Diamond
p
  a(href="https://en.wikipedia.org/wiki/A_Short_History_of_Nearly_Everything"
    class="mr-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") A Short History of Nearly Everything
  |  by Bill Bryson
