h2(class="my-2 text-xl") # What I've worked on

h3(class="my-2 text-lg" id="idgard") ##&nbsp;
  a(href="https://www.idgard.de/"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") idgard

p
  a(href="https://my.idgard.de"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Main web application

p(class="opacity-80 text-xs mb-4") angularjs, typescript, pug, stylus, webpack, gitlab pipeline

p
  a(href="https://msteams.integrations.sealed.services/teams/"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Microsoft teams integration

p(class="opacity-80 text-xs mb-4") react, typescript, jest, fluentui, gitlab pipeline, docker, microsoft teams

h3(class="my-2 text-lg" id="projects") ## Other things I made

p
  a(href="https://julianelda.github.io/elenchus"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") elenchus:
  span(class="mx-1") web application drafts
  a(href="https://github.com/JulianElda/elenchus"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") (src)

p(class="opacity-80 text-xs mb-4") react, redux, typescript, jest, sass, tailwind

p
  a(href="https://julianelda.github.io/meter"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") meter:
  span(class="mx-1") units converter
  a(href="https://github.com/JulianElda/meter"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") (src)

p(class="opacity-80 text-xs mb-4") react, typescript, jest, sass, tailwind


p
  a(href="https://julianelda.github.io/about"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") This page:
  span(class="mx-1") personal homepage
  a(href="https://github.com/JulianElda/about"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") (src)

p(class="opacity-80 text-xs mb-4") pug, sass, tailwind

p
  a(href="https://julianelda.gitlab.io/nt-p"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") nt-p:
  span(class="mx-1") a browser new-tab page
  a(href="https://gitlab.com/JulianElda/nt-p"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") (src)

p(class="opacity-80 text-xs mb-4") pug, bootstrap, javascript, dropbox